body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: #0033cc;
  color: white;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 50px;
  margin-left: 20px;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 14px;
}
.nav a:hover {
  background-color: #002080;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  position: relative;
  flex: 1;
}
.main-content img {
  height: 200px;
  margin-right: 20px;
}
.welcome-text {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  max-width: 600px;
}
.welcome-text h2 {
  margin-top: 0;
}
.footer {
  background-color: #0033cc;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
.calendar {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calendar table {
  width: 100%;
  border-collapse: collapse;
}
.calendar th {
  background-color: #0033cc;
  color: white;
  padding: 5px;
}
.calendar td {
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
}
.calendar td.highlight {
  outline: rgb(24, 70, 219) dashed 2px;
  background-color: rgb(191, 203, 245);
}
.calendar div {
  text-align: center;
  margin-top: 10px;
}
.calendar .nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.calendar .nav-buttons i {
  padding: 5px 10px;
  background-color: #0033cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.calendar .nav-buttons i:hover {
  background-color: #002080;
}
